.feed{
    flex:7;
    background-color:#f2f1f1;
}
.feedWrapper{
    padding:0 60px;
    
}
@media screen and (max-width:570px) {

    .feed{
      flex: 6;
      width: 100%;
      margin: auto;
     
    }
    .feedWrapper{
        padding:0 20px; 
    }
  }