.sidebar {
  flex: 2.5;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 70px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: 'none';
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
}

.hr{
  background-color: rgb(21, 20, 20);
  color: rgb(44, 42, 42);
}



.sidebarWrapper {
display: flex;
flex-direction: 
column;

}
.sidebarWrapper .item{
 display: flex;
 align-items: center;
 margin:2px 5px;
 transition: .4s ease-in-out;
 padding: 5px;
 font-size: 14px;
  font-weight: 500;
}
.sidebarWrapper .item:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }
.item img{
  width: 25px;
    height: 25px;
    margin-right: 10px;
}
.menu .item{
  font-size: 14px;
  font-weight: 500;
  display: flex;
 align-items: center;
 margin:2px 10px;
 transition: .4s ease-in-out;
 padding: 5px;
 cursor: pointer;
}
.menu .item:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}