body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hr{
  color: #333;
  background-color: #333;
}

/* search */
.container-input {
  position: relative;
}

.input {
  width: 150px;
  padding: 5px 0px 5px 30px;
  border-radius: 9999px;
  border: solid 1px #333;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
}
.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 16px;
  transform: translate(0, -50%);
}
.input:focus {
  opacity: 1;
  width: 250px;
}
/* dark moddo */
 .app.dark{
  background-color: #191919;
   color: rgb(156,156,156);
  
  }
  .app.dark .sidebarWrapper .item{
    /* box-shadow: rgba(92, 92, 92, 0.24) 0px 3px 8px; */
    color: #e2e2e2;
    background-color: #191919;

   }
   .app.dark .topbarContainer{
    background-color: #191919;
   }
   .app.dark .menu .item{
      color: #e2e2e2;
      font-size: 14px;
      background-color: #191919;

  }
  .app.dark .m{
    color: #fff;
  }
 
    /* textColor: whitesmoke,
    bg: #222,
    logo: white,
    bgSoft: #333,
    textColorSoft: lightgray,
    border: #444, */

.app.dark .feed{
  flex:7;
  background-color:#222;}
.app.dark .share {
  background-color: rgb(24, 23, 23);
}
.app.dark .shareInput {
background-color:transparent;
color: #fff;
}
.app.dark .post {
  transition: .3s ease-in-out;
  background-color: rgb(24, 23, 23);
}
.app.dark .hr{
  background-color: rgb(4, 4, 4);
  color: rgb(20, 20, 20);
}
.app.dark .feeds{
  background-color:#222;
}
.app.dark .icon-right{
  color: #fff;
}
